.hero-text {
    color:white;
    font-style: italic;
    font-size:2.5rem;
    font-weight:bold;
    padding-left: 100px;
}

.banner-img{
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
}


.hero-section {
    margin-top:50px;
}


.banner{
    background-color: #401919;
}


.sushi-img{
    max-width: 100%;
    height:auto;
}

.about-section {
    background-color: #FEA6A6 ;
    padding: 60px 0;
}


.about-section h2 {
    font-weight: bold;
    text-align:center;
    margin-bottom: 40px;
    color:black;
}


.about-text {
    font-size: 1rem;
    color:azure;
}


.check-icon {
    font-size: 1.5rem;
    color:black;
    margin-right: 10px;
}


.about-btn {
    background-color: beige;
    padding: 20px 30px;
    border-radius: 40px;
    display:inline-block ;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);

}


.about-btn span{
    display: block;
    font-size: 2rem;
}

.menu-section{
    background:  #C56565;
    padding: 60px 0;
    color: black;
    text-align: center;
}


.menu-title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.menu-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu-item {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.4rem;
}

.img-testimoni {
     border-radius: 50%;
     width:100px;
     height:100px;
     object-fit: cover;

}

.card{
    border-radius:30px ;
}

.contact-section{
    background-color: #F08888;
    padding: 60px;
}


.contact-section h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;

}

.contact-info i { 
    font-size: 1.5rem;
    margin-right: 10px;
}

.contact-info {
    margin: 10px;
    font-size: 1rem;
}

.send-btn{
    background-color:#863434 ;
    color: aliceblue;
    padding: 10px 20px;
    border:none;
    border-radius: 15px;
}

.footer-section{
    background-color: #C56565;
}

.btn-book{
    background-color: #863434;
    color:#fff;
    border-radius: 30px;
    padding: 8px 10px;
    border: none;
}

.nav-link{
    margin-right: 25px;
    font-size: 1.2rem;
}

.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 50px;
}

.font-alfa-slab{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}


.font-comforta {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

